@import url('https://fonts.googleapis.com/css?family=Aldrich');

  .addingHero {
    position:relative;
    display: grid;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 850px;
    border-radius: 60px;
    background: linear-gradient(#a64d79, #073763);
    border: #828185 3px solid;
  }
  
  .closeAddingHeroIcon {
    position: absolute;
    height: 35px;
    width: 35px;
    margin-left: 730px;
    margin-top: 35px;
    opacity: 0.4;
    cursor: pointer;
  }
  
  :hover {
    opacity: 1;
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }

  .addingHeader{
    font-family: Aldrich, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 55px;
    color: rgb(77, 20, 52);
    text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 2px;
  }

  .nameInput{
    width: 80%;
    height: 50px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    font-size: 20px;
    font-family: Aldrich, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(#a09a9d, #eff3e0);
  }

  .saveAddingHero{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: Aldrich, sans-serif;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 700;
    background: #5b8fa3;
    padding: 5px;
    cursor: pointer;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
  }
  .saveAddingHero:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
  }
 