@import url('https://fonts.googleapis.com/css?family=Aldrich');


.heroCloud {
  position: absolute;
  height: 350px;
  width: 350px;
  transform: scaleX(-1);
  left: -80px;
  top: -20px;

}

.phrase {
  width: 160px;
  position: absolute;
  top: 65px;
  left: 10px;
  overflow: hidden;
  font-weight: 400;
  font-family: Eater, cursive;
  font-style: italic;
  text-align: center;
  font-size: 22px;
  color: rgb(6, 12, 12);
}

.heroInfoImage {
  position: absolute;
  height: 300px;
  left: 30%;
  top: 5%;
}
.heroInfoImage:hover {
  transform:scale(1.3)
}

.cloudContent {
  position: absolute;
  top: -90px;
  left: -150px;
  rotate: -15deg;
}

.descriptionText {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0px;
  font-family: Aldrich, sans-serif;
  text-align: center;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 2px;
}

.zoom {
  height: 100%;
}

img {
  transition: transform 0.3s;
}