@import url('https://fonts.googleapis.com/css?family=Aclonica');
@import url('https://fonts.googleapis.com/css?family=Eater');

.App {
  background: linear-gradient(to bottom, hsl(300, 8%, 26%) 0%, #ff99ff 100%);
  height: 1200px;
}

.headermarvel {
  width: 100%;
}

